
#root {
  position: relative;
}
.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  min-width: 310px;
/*  position: absolute;
  top: -100px;*/
}

/*SEARCH BAR*/
.search .location {
  width: 70%;
  height: 30px;
}

.search .search-location {
    margin-bottom: -10px;
}

/*VENUE LIST*/
/*.item-list .link{
  color: black;
}

.item-list .venue {
  text-align: left;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin: 8px 2px;
  height: 85px;
  box-shadow: 0 1px 1px 0 rgba(43, 43, 43, 0.151), 0 3px 1px -2px rgba(34, 34, 34, 0.082), 0 1px 5px 0 rgba(31, 31, 31, 0.13);
}

.item-list .venue .image {
  display: inline-block;
  float: left;
  margin-top: 4px;
}

.venue .image img {
  width: 55px;
  height: 55px;
  background: gray;
  border: 1px solid #dedede;
  margin: 2px;
}

.item-list .venue .description {
  display: inline-block;
  margin-left: 7px;
}*/


/*ITEM PANEL*/
.item-box {
  text-align: left;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin: 8px 2px;
  height: 85px;
  box-shadow: 0 1px 1px 0 rgba(43, 43, 43, 0.151), 0 3px 1px -2px rgba(34, 34, 34, 0.082), 0 1px 5px 0 rgba(31, 31, 31, 0.13);
}

.item-image {
    display: inline-block;
    float: left;
    width: 75px;
    height: 75px;
    margin: 4px;
    background: #dedede;
    text-align: center;
    padding-top: 10px;
}

.item-description {
  display: inline-block;
  margin: 5px;
  font-size: 16px;
}


/*CAMERA COMPONENT*/
.take-a-photo {
  display: inline-block;
  float: left;
}
.skip-photo {
  display: inline-block;
}

/*INPUT ITEM*/
.staged-image {
  background: #333333;
}
.staged-image img{
  width: 50%;
}
