.camera-container {
	position: relative;
}

.camera-container .exit {
	position: absolute;
	font-size: 20px;
	right: 0;
	top: 0;
	color: black;
	z-index: 1;
	border:1px solid gray;
	width: 33px;
	height: 33px;
	border-radius: 100%;
	margin: 10px;
	background: white;
	opacity: .6;
	font-weight: bold;
}