.item-input .staged-image {
	position: relative;
	background: white;
}

.staged-image img {
	height: 200px;
}

.staged-image .exit i{
	position: absolute;
	font-size: 30px;
	right: 0;
	top: 0;
	color: #bbbbbb;
	margin: 3px;
}

/*RESTAURANT LIST*/
.rest-list {
	margin-bottom: 10px;
}
.rest-list .select-rest {
	border: 2px solid #dedede;
	padding: 7px 30px;
	background: white;
}

.dish-list .select-dish {
	border-top: 1px solid #dedede;
	margin: 3px 0px;
}

.item-input .selected-item {
	font-size: 22px;
}

.item-input button {
	background: #DE3734;
	color: white;
	font-size: 18px;
	padding: 5px 15px;
	border: none;
	border-radius: 5px;
}

/* DISH SELECTION AT RESTAURANT */
.selected-rest-container {
	background: white;
	margin: 8px;
}

.selected-rest {
	padding: 14px;
}

.dish-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dish-list .selectable-dish {
	background: white;
	border: 2px solid #dedede;
	color: black;
	margin: 5px;
}

.dish-list .add-new-dish {
	background: #DE3734;
	color: white; 
	margin: 12px;
}

/* Enter new dish */
.input-new-dish {
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.new-dish-text-input {
	height: 35px;
	width: 170px;
	border: 1px solid #DE3734;
	padding-left: 8px;
}

/*STAR RATING AND REVIEW*/
.add-review {
	background: white;
	text-align: center;
}

.add-review .star-rating {
	width: 190px;
	margin: 0 auto;
}

.add-review .review-input {
	height: 75px;
	font-size: 18px;
}


