
/*UNIVERAL*/



/*ADD PHOTO MODAL*/
.add-review .modal .modal-body{
	min-width: 400px;
	color: red;
}

.modal-body {
	text-align: center;
	position: relative;
}
.modal-body .exit {
	/*this is to set .exit clickable*/
	height: 35px;
	width: 35px;
}
.modal-body .exit i{
	position: absolute;
	top: 3px;
	right: 3px;
	color: #999999;
	font-size: 30px;
}
.modal-body .title {
	font-size: 22px;
	margin-bottom: 20px;
	color: #de3732;
	background: #efefef;
}

.modal-body input {
	width: 90%;
	font-size: 18px;
	padding: 5px;
	margin-top: 5px;
	border: none;
	border-bottom: 1px solid #dedede;

}

.modal-body button {
	margin-top: 20px;
	background: #de3732;
	font-size: 20px;
	padding: 3px 20px;
	border: none;
	color: white;
}

.modal-body .camera-button {
	display: flex;
	background: #de3732;
	border: none;
	color: white;
	font-size: 17px;
	padding: 10px;
	border-radius: 4px;
	justify-content: center;
	width: 70%;
	font-weight: bold;
	margin: 0 auto;
}

.modal-body i {
	/*margin-right: 10px;*/
}

.modal-body .device-file {
	display: flex;
	background: #de3732;
	border: none;
	color: white;
	font-size: 17px;
	padding: 10px 10px 5px 10px;
	border-radius: 4px;
	justify-content: center;
	width: 70%;
	font-weight: bold;
	margin: 0 auto;
}

.modal-body .choose-file {

}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}