/*.search {
	background-image: url("/assets/seafood.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	opacity: .2;
	height: 200px;
}*/

.search {
	background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
   ),
  	url('/assets/seafood.jpg');
   background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (min-width: 430px) {
	.search {
		/*padding: 10px 40px 20px 40px;*/
	}	
}

@media screen and (min-width: 600px) {
	.search {
		/*padding: 10px 70px 20px 70px;*/
	}	
}

.search .top-bar {
 display: flex;
 justify-content: flex-end;
 background: black;
 background: rgba(0,0,0,0.5);
}

.top-bar .signin-join{
	display: flex;
}
.top-bar .signout-profile {
	display: flex;
}
.search .top-button {
	color: white;
	font-size: 14px;
	margin: 5px 10px 5px 0px;
}
.top-bar .sign-out {
	padding-top: 3px;
}
.top-bar .add-button {
	padding-top: 3px;
}
.top-bar .signin {
	padding-top: 3px;
}
.top-bar .join {
	padding-top: 3px;
}

@media screen and (min-width: 430px) {
	.search .add-button {
		font-size: 16px;
	}	
}

.search-bars {
	padding: 10px 20px 20px 20px;
}

.search form input {
	width: 100%;
	font-size: 15px;
	padding: 7px;
	border-radius: 3px;
	border: none;
	margin: 3px 0;
}

.search form button {
	width: 100%;
	background-color: red;
	border: none;
	color: white;
	font-size: 15px;
	border-radius: 3px;
	padding: 7px;
	margin-top: 7px;
	margin-bottom: 15px;
}