.item-view {
	text-align: left;
	background: #efefef;
}
.item-view .image {
	position: relative;
	text-align: center;
	background: white;
	display: flex;
	justify-content: center;
}
.item-view .image img{
	height: 200px;
}
.item-view .image .arrow {
	text-align: center;
	padding-top: 70px;
}
.item-view .image .arrow:hover {
	background: #efefef;
}
.item-view .image .arrow i{
	font-size: 50px;
	color: gray;
}
.item-view .dish-info {
	padding: 7px;
	font-size: 17px;
	border-bottom: 1px solid #dedede;
	background: white;
}
.dish-info .place-name {
	font-size: 15px;
}
.dish-info .rating-container {
	display: flex;
}
.rating-container i {
	font-size: 20px;
	color: orange;
	padding-top: 2px;
}
.dish-info .address {
	font-size: 15px;
}
.dish-info .phone {
	font-size: 15px;
}
.item-view .rate-review{
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid #dedede;
	background: white;
}
.item-view .rate-review .flip-button {
	background: #2c46e2;
	display: flex;
	justify-content: center;
	width: 220px;
	margin: 0 auto;
	border-radius: 2px;
}
.item-view .rate-review .button{
	font-size: 15px;
	padding: 3px 10px;
	background: #2C46E2;
	border: none;
	color: white;
}
.item-view .rate-review i {
	color: white;
	padding-top: 2px;
}
.item-view #map-container {
	text-align: center;
	margin-top: 10px;
	background: white;
	height: 150px;
	border-bottom: 1px solid #dedede;
}
.reviews .highlights {
	margin: 20px 0px 5px 7px;
}
.reviews .review {
	background: white;
	margin-top: 5px;
	padding: 7px;
}
.review .rating-container {
	display: flex;
}
.review .rating-container i{
	font-size: 15px;
	color: orange;
}
.break-space {
	height: 10px;
	background: #efefef;
}

/*ADD RATING AND REVIEW*/
.item-view .add-review {
	background: white;
}

.item-view form {
	background: white;
	text-align: center;
}

form .submit-review {
	border: none;
	background: #2C46E2;
	color: white;
	font-size: 17px;
	padding: 5px 15px;
	margin-bottom: 15px;
}