body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* App */

.App {

}


/* Home */

.container {

}


/* Item */



/* ItemModal */

.addJobModal {

}

.item-with-image {

}

.item-right {

}

.item-right h3 {

}

.top-image-modal {

}

h2 {

}

.characteristic-icons {

}


/* Rate */

.rate-container {

}


/* Rating */
/* same as rate */


/* SearchBar */

.search {

}

.query {

}

.location {

}

.search-location {

}

.current-location {

}


/* Venue */

.venue-title {

}


/* VenueList */

.item-list {

}

.link {

}

.venue {

}

.image {

}

.description {

}

.description .name {

}

.description .distance {

}

.description .address {
  
}